<a href="https://colab.research.google.com/github/cnrhkdgus95gmailcom/SHI-DT-Campus/blob/main/%EC%97%B0%EA%B8%88%EB%B3%B5%EA%B6%8C_%ED%81%AC%EB%A1%A4%EB%A7%81.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

tqdm ; for문의 진행상황

In [151]:
# 연금복권 720+로 갑시다. 720+의 1회차부터

from bs4 import BeautifulSoup # python으로 html을 다루는 라이브러리
# hypertext markup language
from tqdm import tqdm #for문의 진행상황

import requests
import time
import pandas as pd

url = requests.get("https://search.daum.net/search?w=tot&DA=YZR&t__nil_searchbox=btn&sug=&sugo=&sq=&o=&q=%EC%97%B0%EA%B8%88%EB%B3%B5%EA%B6%8C")

html = BeautifulSoup(url.text)

a = html.find('div', class_ = 'prize').find('strong').find('span', class_ = 'f_red')
# cf) html.find(태그, attrs = {'id':'~','class':'~~'})

# T는 이렇게함
# current = int(html.find('div', class_ = 'prize').find('span').text[1:4])


a = a.text.replace('제','')
b = a.strip('회')
numNow = int(b)

count = 0

몇회차 = []

box = []

for x in tqdm(range(1, numNow+1)):
    count += 1

    url = requests.get(f"https://search.daum.net/search?w=tot&DA=JIM&rtmaxcoll=JIM&&q=%EC%97%B0%EA%B8%88%EB%B3%B5%EA%B6%8C%20720%2B%20{x}%ED%9A%8C%EC%B0%A8")
    html = BeautifulSoup(url.text)
    몇회차.append(x)

    what_group = html.find('td', class_ = 'each').text.split()
    group_num = int(what_group[0][0])
     
    what_numbers = html.find('div', class_ = 'inner').text.split()
    numList = list(map(int, what_numbers))
    
    numList.insert(0,group_num)
    numList.insert(0,x)

    box.append(numList)

    time.sleep(0.5)

print(len(box))

100%|██████████| 107/107 [02:39<00:00,  1.49s/it]

107

In [159]:
import pickle
a = pd.DataFrame(box)
a.to_pickle('df_box_0525_WED.pickle')

In [174]:
import pickle
with open('df_box_0525_WED.pickle','rb') as f:
    피클로불러온연금복권크롤링 = pickle.load(f)
c_list = 피클로불러온연금복권크롤링

c_list.loc[-1] = ['회차','조','번호1','번호2','번호3','번호4','번호5','번호6']  # adding a row
c_list.index = c_list.index + 1  # shifting index
c_list = c_list.sort_index() 

c_list

       0  1    2    3    4    5    6    7
0     회차  조  번호1  번호2  번호3  번호4  번호5  번호6
1      1  4    1    6    2    1    3    2
2      2  2    4    5    0    5    5    8
3      3  4    5    4    4    9    5    5
4      4  4    1    2    4    4    2    0
..   ... ..  ...  ...  ...  ...  ...  ...
103  103  4    7    8    6    2    7    6
104  104  2    6    8    9    9    2    2
105  105  1    1    8    0    5    0    6
106  106  5    3    0    7    6    9    5
107  107  3    1    9    2    7    5    0

[108 rows x 8 columns]

In [ ]:
what_group = html.find('td', class_ = 'each').text.split()
what_group

In [ ]:
print(box)

In [ ]:
b = []
for i in range(1,current+1):
    b.append(f'{i}회차')
b

# a.index = b

In [ ]:
newgroup

In [144]:
box = pd.DataFrame(box, columns = ['조','1번째','2번째','3번째','4번째','5번째','6번째'])

ValueError: ignored

### **크롤링은 다음에 시험에 낼거임**

In [149]:
for i in range(1,108):

SyntaxError: ignored

시험시간 얼마?
난이도 얼마?